<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="39717own3dh2so4.UniAppBeta" Publisher="CN=2F8D5F21-4713-4617-84FA-167C3E460EF1" Version="1.0.0.0" /> 
  <mp:PhoneIdentity PhoneProductId="2ce57a4d-2303-46f4-b1a3-ee1c74394dc0" PhonePublisherId="e6876b6a-76f8-4c3b-9bdf-cc57a000df6f" />
  <Properties>
    <DisplayName>UniAppBeta</DisplayName>
    <PublisherDisplayName>own3dh2so4</PublisherDisplayName>
    <Logo>Assets\Logos\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="x2ce57a4dy2303y46f4yb1a3yee1c74394dc0x" Executable="AGHost.exe" EntryPoint="View/Inicial.xaml">
      <m3:VisualElements DisplayName="TFG_WP" Square150x150Logo="Assets\logos\logo150.png" Square44x44Logo="Assets\logos\logo44.png" Description="TFG_WP" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\logos\logo71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\logos\splash.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>